.image {
   background: no-repeat center center;
   background-size: cover;
   height: 570px;
   background-attachment: fixed;
}

.about {
 background-color: white;
 color: #490D40;
 text-align: center;
 padding: 80px 50px;
}
