// description
.description {
  justify-content: space-between;
}

.img-home {
  margin-top: 50px;
  text-align: center;
}

.img-home h2 {
  margin-top: 15px;
}

.img-home img {
  height: 500px;
}

.center-btn {
  text-align: center;
}

// Category

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}

// links

.link-to {
  text-decoration: none !important;
  color: black;
}

.link-to:hover {
  transform: scale(1.03);
  color: black;
}

// flashes
.div-flashes {
  z-index: 1;
  position: absolute;
  top: 78px;
  right: 0px;
}

.undisplay-flash {
  display: none;
}
