// description
.description {
  justify-content: space-between;
  align-items: flex-end;
}

.content-description {
  margin-top: 50px;
}

.img-emaille-content {
  width: 500px;
}

.img-emaille {
  text-align: center;
}

.img-atelier {
  text-align: center;
}

.center-btn {
  text-align: center;
}

.content-description h2 {
  text-align: center;
  margin-top: 10px;
}

// Category

.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}

// links

.link-to {
  text-decoration: none !important;
}

.link-to:hover {
  transform: scale(1.03);
}
