<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.publicdomainpictures.net/pictures/300000/nahled/door-handle-in-brass.jpg);">
  <div class="container">
    <h1>Création de pièces émaille sur métaux</h1>
    <p>Atelier en Gironde création artisanale : Bijoux, pièces de décorations, poignée de porte ...</p>
    <a href="#"><button type="button" class="btn-perso">Voir les pièces</button></a>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(category.image) %>)">
        <%= category.name %>
      </div>
    <% end %>
  </div>
</div>
