<div class="container container-bg">
  <h2>Contact</h2>
  <p class="mt-3">Bonjour, pour toutes demandes, renseignements ou autres je suis disposée à échanger avec vous !</p>


  <form action="https://formspree.io/xdogzpyz"
    method="POST">

       <label class="form-label">
        Nom
        <input type="text" name="name" class="form-control" placeholder="Jeannine">
       </label>

      <label class="form-label">
        Email
        <input type="text" name="_replyto" class="form-control" placeholder="Jeannine@outlook.fr">
      </label>

      <label class="form-label">
        Message
        <textarea name="message" class="form-control" rows="6" placeholder="Bonjour, Blablabla ..."></textarea>
      </label>

    <div class="center-btn">
      <button type="submit" class="btn-description">Envoyer</button>
    </div>
  </form>
</div>
