.btn-description {
  color: white;
  background-color: orange;
  padding: 15px 20px;
  border-radius: 300px;
  border: none;

}

.btn-description:hover {
  opacity: 0.7;
}

.contact-order {
  text-align: center;
}

