.navbar-default {
 /* Couleur de fond de la barre de navigation */
 background-color: #ff0000!important;
}

.bg-light {
    background-color: #ff0000!important;
}

.bg-light {
    background-color: #ff0000!important;
}

.navbar {
  width: 100% !important;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

#navbar-id {
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-between !important;
}

.cart-badge {
  z-index: 1;
  position: relative;
  top: -15px;
  right: 15px;
  color: white !important;
}

.fa-home {
  font-size: 25px;
  color: grey;
}

.fa-shopping-cart {
  color: grey;
  font-size: 25px;
}
