.navbar-brand {
  font-size: 50px !important;
  font-family: 'Nothing You Could Do', cursive;
}

#navbar-id {
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}
