.navbar {
  width: 100% !important;
  background-color: transparent!important;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
}

#navbar-id {
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-nav {
  display: flex;
  justify-content: space-between !important;
}

.cart-badge {
  z-index: 1;
  position: relative;
  top: -15px;
  right: 15px;
  color: white !important;
}

.fa-home {
  font-size: 25px;
  color: grey;
}

.fa-shopping-cart {
  color: grey;
  font-size: 25px;
}

.category-dd {
  margin-left: 15px;
}

.about-dd {
 margin-right: 15px;
}

// #navbarNavDropdown {
//   background-color: #F9F1EF;
// }

// .navbar-toggler {
//   background-color: #F9F1EF!important;
// }
