@import "bootstrap/scss/bootstrap";

// pages
@import "pages/home";
@import "pages/items";
@import "pages/cart";
@import "pages/atelier";

// partials
@import "components/nav_bar";
@import "components/card_category";
@import "components/banner";
@import "components/footer";
@import "components/btn";
@import "components/card_trip";
@import "components/gallery_product";
@import "components/form";

body {
  background-image: image-url("bg.jpg");
  background-size: 300%;
}

.container-bg {
  background-color: #E5E6E8;
}
