@import "bootstrap/scss/bootstrap";

// pages
@import "pages/home";
@import "pages/items";
@import "pages/cart";
@import "pages/atelier";

// partials
@import "components/nav_bar";
@import "components/card_category";
@import "components/banner";
@import "components/footer";
@import "components/btn";
@import "components/card_trip";
@import "components/gallery_product";
@import "components/form";

body {
  // background-image: url("https://i.pinimg.com/originals/e4/23/38/e4233836738b30844d68282e67b4761b.jpg?fbclid=IwAR33k3fJnjKx5naVU-QFRPTlrMY26nPD0IWHrnX33FRgxW6wuvLLZia4gEc");
  background-image: image-url("bg.jpg");
  background-size: 300%;
}

.container-bg {
  // background-color: #f9f1ef;
  background-color: #E5E6E8;
}
